<section class="row">
  <article class="column">
    <h2>Contact</h2>
    <a href="mailto:Lauri Annala <lauri.annala@protonmail.com>">Lauri Annala &lt;lauri.annala@protonmail.com&gt;</a>
  </article>
</section>
